@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
//Default color
$black: #000 !default;
$white: #fff !default;
$Bali-Hai: #939cb9 !default;

// Dark Mode color
$Ebony-Clay1: #2a3042 !default;
$Eboney-light: #262b3c !default;
$Alabaster: #f8f8f8 !default;
$Trout: #495057 !default;
$Periwinkle-Gray: #c3cbe4 !default;
$Ebony-Clay: #222736 !default;
$Rock-Blue: #a6b0cf !default;
$background-rockblue: rgba(166, 176, 207, 0.2) !default;
$Ebony-dark: #212736 !default;
$Oxford-Blue: #32384b !default;
$Catskill-White: #eff2f7 !default;
$catskill: #e9ecf5 !default;
$Ebony-Clay: #2e3548 !default;
$Royal-Blue: #556ee6 !default;
$Table-color: #2b3042 !default;
$Oxford-Blue: #32394e !default;
$Ronchi: #f1b44c !default;
$dark-ronchi: #f1b44c8c !default;
$Shamrock: #34c38f !default;
$Shamrock-light: #4ab98f8c !default;
$Froly: #f46a6a !default;
$Froly-light: #ed6a6a91 !default;
$Bright-Gray: #3d4354 !default;
$Jacarta: #2a3066 !default;
$slider-background: 0 0 1px #2196f3 !default;
//Light mode Color
$Manatee: #868da3 !default;
$Athens-Gray: #f8f9fa !default;
$White-Lilac: #eaedf6 !default;
$Catskill-White: #f7f7fa !default;
$Catskill-White: #e9ecf5 !default;
$Whisper: #f3f3f9 !default;
$Storm-Gray: #74798c !default;
$San-Marino: #4e67b9 !default;
$dark-black: rgba(85, 110, 230, 0.15) !default;
$Cinderella: #fde1e1 !default;
$Lotus: #7f3737 !default;
$dropdown-background: 1px solid $Oxford-Blue;
//GLOBAL BOX SHADOW
$base-box-shadow: 0px 4px rgba(0, 0, 0, 0.03);
$base-black-shadow: rgba(85, 110, 230, 0.05);
$base-dark-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
$base-box-table: 0.25px solid rgba(0, 0, 0, 0.2);
$brown-shadow: 0.25px solid rgba(147, 156, 185, 0.4);
$dark-brown-shadow: rgba(241, 180, 76, 0.2);
$light-dark-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$base-box-shadow-sm: 1px solid rgba(147, 156, 185, 0.4);
$grey-border: 1px solid rgba(195, 203, 228, 0.5);
